@import "tailwindcss";

.writing-mode-vertical {
  writing-mode: vertical-rl;
}


@theme inline {
  --font-anek: 'Anek', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}


@font-face {
  font-family: "Anek";
  src: url('/anek.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  src: url('/roboto.ttf') format('truetype');
}