@import "tailwindcss";

.writing-mode-vertical {
  writing-mode: vertical-rl;
}


@theme inline {
  --font-poppins: 'Poppins', sans-serif;
}


@font-face {
  font-family: "Poppins";
  src: url('/poppins.otf') format('opentype');
}